body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    overflow-x:hidden;
}
a, a:hover, a:visited {
    color: #0071bc;
}
#mapInset {
    bottom:50px;
    right:30px;
    height: 180px;
    width:250px;
    max-width:100%;
    position: fixed;
    z-index: 1;
    opacity:0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}
#mapInset .mapboxgl-ctrl-bottom-left{
    display: none;
}
#map {
    top:0;
    left:0;
    height: 100vh;
    width:100vw;
    max-width:100%;
    position: fixed;
    z-index: -1;
}
#loader {
    top:0;
    height: 100vh;
    width:100vw;
    position: fixed;
    z-index: 0;
    background: #000;
    transition: opacity 1s ease-out;
    pointer-events: none;
}
#loaderSpin {
    border: 5px solid #333;
    border-top: 5px solid #d3d3d3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: loadSpin 2s linear infinite;
    transition: opacity 0.5s ease-out; 
    position: relative;
    top: 41%;
    margin: auto;
} 
@keyframes loadSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#freeExplore {
    /* background: #fff; */
    /* margin-top:20px; */
    position: absolute;
    z-index: -1;
    top: -45px;
    right: 0;
    border-radius: 10px;
    width: 170px;
    /* border: 1px solid rgba(0, 0, 0, 0.4); */
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #d3d3d3;
    color: rgba(0,0,0,0.25);
    font-size: 13px;
    /* color: #404040; */
    display: none;
    /* margin: 0; */
    /* padding: 0; */
    padding: 10px 10px 30px 10px;
    transition: 0.1s;
}
#freeExplore:hover {
    background-color: #cccccc;
    color: #404040;
    cursor: pointer;
}

#freeExplore.active {
    background-color: #fff;
    color: #404040;
}
#menu {
    background: #fff;
    margin-top:20px;
    position: inherit;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.4); */
    font-family: 'Open Sans', sans-serif;
}
#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    background-color: #efefef;
}
#menu a:last-child {
    border: none;
}
#menu a:hover {
    background-color: #d3d3d3;
    color: #404040;
}
#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}
#menu a.active:hover {
    background: #3074a4;
}
#infographicHold {
    width: 50%;
    /* height: 300px; */
    /* animation: loadSpin 2s linear infinite; */
    transition: opacity 0.5s ease-in;
    position: absolute;
    top: 300px;
    right: 5%;
    /* margin: auto; */
    opacity: 0;
}
#infographicHold img {
    width:100%;
    position: absolute;
    transition: opacity 0.5s ease-in;
}
#story {
    /* background:rgba(0,0,0,.9); */
}
#header {
    margin: auto;
    padding:10px 0;
    width: 100vw;
    background-color: rgba(0,0,0,.75);
}
#header h1, #header h2 {
    margin: 0;
    padding: 2vh 2vw;
    text-align: center;
    display: none;
}
#header span {
    margin-right:30px;
    text-align: right;
    display: block;
}
#header span img {
    margin-left:25px;
    margin-top:10px;
    height:22px;
}
#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}
#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 100;
}
#features #intro h3 {
    font-size:50px;
    line-height:60px;
    font-weight:100;
    color:#fff;
    text-shadow: 2px 2px 8px #000;
}
#features #intro p {
    font-size:20px;
    line-height: 35px;
    color: #9a9a9a;
    margin-top: -30px;
    text-shadow: 2px 2px 8px #000;
}
#features #intro .light {
    /* width:50vw; */
    background-color: rgba(0,0,0,0);
    box-shadow: none;
}
#features .light {
    box-shadow: 4px 4px 8px #333;
}

#schools-connectivity .textLegend, #economic .textLegend, #schools-population .textLegend {
    padding:0;
    margin-top:25px;
}
#schools-connectivity .textLegend span, #economic .textLegend span, #schools-population .textLegend span {
    width:33%;
    display: inline-block;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-size:12px;
    color: 'rgba(0,0,0,0.85)';
}
.hidden {
    visibility: hidden;
}
.centered {
    width: 50vw;
    margin: 0 auto;
}
.lefty {
    width: 33vw;
    margin-left: 5vw;
}
.righty {
    width: 33vw;
    margin-left: 62vw;
}
.fully {
    width: 100%;
    margin: auto;
}
.light {
    color: #444;
    background-color: #fafafa;
}
.dark {
    color: #fafafa;
    background-color: #444;
}
.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
    pointer-events: none;
}
.step.active {
    opacity: 0.9;
}

.step div {
    padding:  20px 40px;
    line-height: 25px;
    font-size: 15px;
    border-radius: 10px;
    
             /* -5px -5px 10px #ebebeb; */
}

.step img {
    width: 100%;
}

#features #explore .light {
    pointer-events: auto;
    position: relative;
}

@media (max-width: 750px) {
    .centered, .lefty, .righty, .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}